.ToDoItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ToDoItem-Text {
    width: 90%;
    background-color: white;
    border: 2px solid silver;
    padding: 12px;
    margin-right: 10px;
}

.ToDoItem-Delete {
    width: 35px;
    height: 35px;
    cursor: pointer;
    background: #ff7373;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 18px;
    margin-right: 5px;
}

.ToDoItem-Delete:hover {
    background-color: red;
}